.card {
    background-color: #272c46;
    border-radius: 24px;
    padding: 32px;
    margin: 16px;
    width: calc(33.333% - 40px);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: start;
    align-items: start;
    h2 {
        font-family: "CustomFont1";
        font-size: 18px;
        font-weight: 500;
        line-height: 18px;
        color: white;
    }
    p {
        font-family: "CustomFont1";
        font-size: 12px;
        font-weight: 500;
        margin-top: 12px;
        line-height: 15.6px;
        color: #98a0a8;
    }
}

@media (max-width: 1265px) {
    .card {
        width: 200px;
        padding: 20px;
    }
}
@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}
